body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #051a2d;
}
.post-list{
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 293px));
    justify-content: center;
    gap: 28px;
}
.post{
    cursor: pointer;
    position: relative;
    display: block;
}

.post-image{
    margin: 0;
}

.post-image img{
    width: 100%;
    vertical-align: top;
}

.post-overlay{
    background: rgba(0,0,0,.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.post:hover .post-overlay{
    display: flex;
}


.modal{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modalContent{
    text-align: center;
    position: relative;
    top: 45%;
    background: white;
    width: 500px;
    height: 700px;
    max-width: 90%;
    padding: 1em 2em;
    border-radius: 4px;
}

.modalContent a{
    font-size: 31px;
    font-weight: 600;
}

.modalClose{
    position: absolute;
    top: 0;
    right: 15px;
    color: #585858;
    text-decoration: none;
    font-size: 36;
}



.label{
    padding: 10px;
    font-size: 18px;
    color: #111;
}

.copy-text{
    position: relative;
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.copy-text input.text{
    padding: 10px;
    font-size: 15px;
    color: #555;
    border: none;
    outline: none;
}

.copy-text button{
    padding: 10px;
    background: #5784f5;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.copy-text button:active{
    background: #809ce2;
}

.copy-text button:before{
    content: "Copied";
    position: absolute;
    top: -50px;
    right: 0px;
    background: #5c81dc;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.copy-text button:after{
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform: rotate(45deg);
    display: none;
}

.cont form button{
    margin-top: 10px;
    background: #ff102b;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 18px;
    border: 1px solid #ff102b;
    cursor: pointer;
}

.copy-text.active button:before, .copy-text.active button:after{
    display: block;
}

.post-likes, .post-comments{
    width: 80px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

@media screen and (max-width: 768px){
    .post-list{
        gap: 3px;
    }
}